<meta charset="UTF-8"/>
<section class="footermobil">
<h1>Nilje studios</h1>
<div>
    <h2 >SHOP</h2>
    <h2 >INFORMATION</h2>
    <h2 >CONTACT</h2>
</div>
 <div>
        <p>Sign up. Stay stylish</p>
        <button>Email Adress</button>
        <button>Subscribe Now</button>
    </div>
</section>

<section class="footercomputer">
    <h1>Nilje studios</h1>
    <div class="grid_1-44">
    <div class="flexdirection">
    <a href="productlist.astro" >Women</a>
    <a href="productlist.astro" >Men</a>
    <a href="productlist.astro" >Contact</a>
    <a href="productlist.astro" >About</a>
</div>
<div class="flexdirection">
    <a href="productlist.astro" >FAQ</a>
    <a href="productlist.astro" >Shipping & Returns</a>
    <a href="productlist.astro" >Store Policy</a>
    <a href="productlist.astro" >Payments</a>
    </div>
    <div class="flexdirection">
    <a href="productlist.astro" >info@nilje.studios.com</a>
    <a href="productlist.astro" >Guldbergsgade 29 N</a>
    <a href="productlist.astro" >2200 København</a>
    <a href="productlist.astro" >Tlf: 46 46 00 00</a>
    </div>
    <div class="flexdirection">
        <p>Sign up. Stay stylish</p>
        <button>Email Adress</button>
        <button>Subscribe Now</button>
    </div>
    </div>
</section>


<style>
    
.footercomputer {
    display: none; 
      
}

.footermobil {
    
    display: flex;            
    flex-direction: column;     
    text-align: center; 
}


@media (min-width: 768px) {
    .footercomputer {
        display: block; 
    }

    .footermobil {
        display: none; 
    }

    
    .grid_1-44 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 5px;
    }

    .flexdirection {
        display: flex;
        flex-direction: column; 
        gap: 10px; 
    }
}
     
   
</style>